.room-header {
  display: inline-block;
  position: absolute;
  height: 69px;
  width: 100%;
  background: rgba(233, 242, 255, 0.73);
  z-index: 1;
  padding: 14px 14px;
  color: white;
  /* box-shadow: 0px 3px 2px -2px #42424240; */
  font-size: 16px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.back-button {
  display: inline-block;
  float: left;
}

.glyph {
  position: relative;
  top: 1px;
  color: #8c8c8c;
}

.user-info {
  display: inline-block;
}

.username {
  position: relative;
  top: 2px;
  color: #363636;
}

.last-online {
  font-size: 11px;
  color: rgba(123, 125, 125, 0.67);
  display: block;
  font-weight: normal;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  margin-right: 14px;
  border: 1px solid #ccc;
  filter: sepia(0.3);
}

.options {
  float: right;
  line-height: 43px;
  padding-right: 10px;
  color: #7b7d7d;
}

.online-light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4dd44d;
  display: inline-block;
  border: 2px solid white;
  position: relative;
  top: 15px;
  left: -24px;

  display: none;
}


.offline-light {
  composes: online-light;

  background-color: #ccc;
}