.chat-item {
  display: inline-block;
  height: 53px;
  width: 100%;
  background: #37babd;
  font-weight: bold;
  padding: 10px;
  color: white;
  box-shadow: 0 8px 6px -6px #ccc;
  font-size: 16px;
}

.glyph {
  position: relative;
  top: 1px;
  color: white;
}

.username {
  position: relative;
  top: 2px;
}

.profile-image {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin-left: 6px;
  margin-right: 14px;
}

.options {
  float: right;
  line-height: 53px;
  width: 33px;
  position: relative;
  top: -10px;
  right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 43px;
  text-align: center;
}