.room-header {
  display: inline-block;
  position: absolute; /* todo: use flex */ 
  height: 69px;
  width: 100%;
  background: rgb(214, 236, 247, 0.6);
  font-weight: bold;
  z-index: 1;
  padding: 14px 14px;
  color: white;
  box-shadow: 0px 3px 2px -2px #42424240;
  font-size: 16px;
  border-left: 1px solid #c9daff;
}

.back-button {
  display: inline-block;
  float: left;
}

.glyph {
  position: relative;
  top: 1px;
  color: #8c8c8c;
}

.user-info {
  display: inline-block;
}

.username {
  position: relative;
  top: 2px;
  color: #565656;
}

.last-online {
  font-size: 11px;
  color: #7b7d7d;
  display: block;
  font-weight: normal;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  margin-right: 14px;
  border: 1px solid #ccc;
  filter: sepia(0.3);
}

.options {
  display: flex;
  float: right;
  line-height: 53px; 
  text-align: center;
  color: #7b7d7d;
  height: 100%;
  align-items: center;
  text-align: center;
  color: #7b7d7d;

}

.online-light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4dd44d;
  display: inline-block;
  border: 2px solid white;
  position: relative;
  top: 15px;
  left: -24px;
}


.offline-light {
  composes: online-light;

  background-color: #ccc;
}