.container {
  text-align: center;

}

.toast {
  position: fixed;
  margin-top: auto;
  max-width: 70%;
  display: inline;
  color: white;
  top: 75%;
  left: 0;
  right: 0;
  opacity: 0;
  margin: 5% auto;
  z-index: 100;
  animation: fadeout 5s;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.toast div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 15px;
  border-radius: 15px;

}