.sens {
  color: #676767;
}


.inline .sens {
  color: #676767;
  }

.login .sens {
  color: #42BDC3;
}

.it {
  color: white;
}

.inline .it {
  color: #158890;

}

.login .it {
  color: #42BDC3;

  opacity: 0.3;
}

.logo {
  font-size: 32px;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% + 60px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  width: 0;
}

.center {}

.inline .logo {
  position: relative;
  display: inline-block;
  /*float: left;*/
  left: 0px;
  padding: 14px 14px 18px;
  margin-bottom: -3px;
  font-size: 28px;
  background-color: rgba(205, 232, 247, 0.34);;
  width: 100%;
}

.login .logo {
  position: relative;
  display: inline-block;
  /*float: left;*/
  left: 0px;
  padding: 7px 10px;
  padding-bottom: 0px;
  margin-bottom: -3px;
  font-size: 46px;
  width: 100%;
  text-align: center;
}