.sens {
  color: #42BDC3;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.inline .sens {
  color: white;
  text-shadow: none;
}

.it {
  color: white;
  text-shadow: -1px 0 #42BDC3, 0 1px #42BDC3, 1px 0 #42BDC3, 0 -1px #42BDC3;
}

.inline .it {
  color: white;

  opacity: 0.7;
  text-shadow: none;
}

.logo {
  font-size: 32px;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% + 60px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  width: 0;
}

.center {}

.inline .logo {
  position: relative;
  display: inline-block;
  /*float: left;*/
  left: 0px;
  padding: 7px 10px;
  padding-bottom: 0px;
  margin-bottom: -3px;
  font-size: 28px;
  background: #42BDC3;
  width: 100%;
}