.container {
  display: inline-block;
  border-bottom: 1px solid #ddd;
  height: 80px;
  width: 100%;
  background: white;
}


.container:hover {
  background-color: #bdccbd0f;
  transition: background-color 0.3s;
  cursor: pointer;
}