.chat-item {
  display: inline-block;
  border-bottom: 1px solid #ddd;
  height: 80px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.chat-item:hover {
  background-color: #f5fcff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.chat-item:active {
  background-color: #ecf5f9;

  cursor: pointer;
}

.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px;
  filter: sepia(0.3);
}

.content-holder {
  width: calc(100% - 80px);
  display: inline-block;
}

.chat-item .room {
  color: #333;
  font-size: 16px;
  max-width: 190px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat-item .last-message {
  color: #ccc;
  font-style: oblique;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  margin-top: -4px;
  height: 17px;
}

.chat-item .time {
  color: #aaa;
  font-size: 10px;
  float: right;
  padding-right: 15px;
}