.bottom {
  width: 100%;
  padding: 10px;
  background-color: rgba(233, 242, 255, 0.32);
  /* box-shadow: 0px 6px 10px 4px #42424240; */
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(2px);  
  -webkit-backdrop-filter: blur(2px);
  
}

.input-holder {
  max-width: calc(100% - 55px);
  width: calc(100% - 55px);
  border: 1px solid #ececec;
  background-color: white;
  border-radius: 33px;
  box-shadow: 0px 1px 0.5px 1px rgb(228, 228, 228);;
  display: inline-block;
  max-height: 200px;
  overflow-y: auto;
  line-height: 29px;
  box-sizing: border-box;
  transition: all 1s;
  border: 1px solid white;
  background: repeating-linear-gradient( 45deg, #fff, #fff 3px, #fff 3px, #fff 6px );
}

.main-input {
  width: calc(100% - 75px);
  height: 43px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 0;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  line-height: 29px;
  color: #333;

}

.input-holder.sensitive {
  border: 1px solid #666;
  background: repeating-linear-gradient(45deg, #fff, #fff 3px, #ededed 3px, #ededed 6px);
}

.send-select {
  width: 43px;
  height: 43px;
  margin: 0;
  border-radius: 50%;
  background-color: #68a2ea;
  display: inline-block;
  float: right;
  border: 0;
  color: white;
  outline: 0;
  z-index: 4;
  box-shadow: 1px 1px 2px 0px rgba(166,166,166,0.4);
  transform: scale(1.15);
  transition: background-color 0.2s;
}

.send-select:active {
  transform: scale(1.23);
  transition: transform 0.1s;
}

.send-select.sensitive{
  background-color: #333;
  transition: background-color 0.4s;
}

.button-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 3;
  animation: fadein 0.4s;
  transform: scale(1.3) translateY(-120%);

}

@keyframes fadein {
  0% {
    transform: scale(1.3) translateY(0%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.3) translateY(-120%);
  }
}

.lock {
  background-image: url(http://qiklaw.com/wp-content/uploads/2016/11/white-lock.png);
  background-size: cover;
  display: block;
  padding: 30%;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding-top: 23%;
}

[placeholder]:empty:before {
    content: "Type a message";
    color: #bbb;
    font-weight: normal;
}

.sensitive [placeholder]:empty:before {
    color: #7a7a7a;
    content: "Type sensitive message";
}

.sensitive [placeholder]:empty:focus:before {
    content: "Type sensitive message";
}


[placeholder]:empty:focus:before {
    content: "Type a message";
}

.glyph-position {
  position: relative;
  left: -2px;
  top: 2px;
  font-size: 18px;
}

.right {
  display: inline-block;
  float: right;
  color: #b1b1b1;
  height: 43px;
}

.right > span {
  padding: 10px;
  position: relative;
  top: 8px;
  right: 2px;
}

.sensit-button {
  color: #ccc;
}

.sensit-button.on {
  color: #222;
}