body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  font-family: Ubuntu, Helvetica, Roboto,sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  filter: saturate(1.3);
  box-sizing: border-box;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px rgba(255, 255, 255, 0.6);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
