.message-holder {
  width: 100%;
  display: inline-block;
  user-select: text;
  position: relative;
}

.message-holder iframe {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
}

.message-text {

}

.loader-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.message {
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  display: inline-block;
  display: block;
  border-radius: 6px;
  max-width: 70%;
  margin: 5px 20px;
  width: auto;
  font-size: 14px;
  float: left;
  word-break: break-word;
  padding: 10px 15px 7px 14px;
  color: #4e4e4e;
  animation: fadein 0.3s;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

.message img {
  max-width: 100%;
  image-orientation: from-image;
  /*
    The entire app is saturated at 1.3, 
    saturate images at 0.77 to compensate
  */
  filter: saturate(.77);
}

.sensitive-blur {
  filter: blur(3px);
}

.message-holder .sensitive {
  background-color: #fafafa;
  border: 1px solid #333;
  box-sizing: border-box;
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 3px,
    #eee 3px,
    #eee 6px
  );
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.my-message {
  composes: message;

  float: right;
  background-color: #e4e4e4;
  color: #444;
  
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;

  padding-left: 12px;
}

.your-message {
  composes: message;

  background-color: white;
  padding-right: 12px;
}

.info {
  display: block;
  width: 100%;
  text-align: right;
}

.time {
  text-align: right;
  font-size: 11px;
  font-weight: normal;
  color: #989494;
  display: inline-block;
  margin-right: 5px;
}

.my-message .time {
  float: left;
  position: relative;
  top: 2px;
}

.delivered {
  display: inline-block;
  font-size: 11px;
  color: #aaa;
  float: right;
  width: 16px;
  position: relative;
  top: 8px;
  left: 16px;
  filter: saturate(0);
}

.seen-image {
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: saturate(1);
}

.fade-out {
  opacity: 0;

  transition: opacity 0.5s;
}

.seen-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #75757561;
  box-sizing: content-box;
  position: relative;
  top: -2px;
  right: 2px;
}

.loud {
  font-size: 16px;
}

.louder {
  font-size: 18px;
  font-weight: bold;
}

.sent-icon {
  color: white;
  background-color: #25c8cc;
  border-radius: 50%;
  padding: 1px;
  opacity: 0.4;
  /*border: 2px solid #37babd;*/
}

.delivered-icon {
  color: white;
  background-color: #d6ecf7f0;
  border-radius: 50%;
  padding: 1px;
  opacity: 1;
  /*border: 2px solid white;*/

}

.pending-icon {
  color: #656565;
  font-size: 9px;
  position: relative;
  top: 1px;

}

.username-hint {
  font-size: 12px;
  font-weight: bold;
  color: #6ba2d2;
  width: auto;
  margin-bottom: 10px;
  display: inline-block;
}